header {
  margin-bottom: 2rem;
  width: fit-content;

  h1 {
    margin-bottom: 0.75rem;
  }

  p {
    color: #6d7175;
  }
}

main {
  display: flex;

  .post-list {
    flex: 1;
    width: 0;
  }
}
