.app {
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.75rem 1.75rem;
  font-size: 1.78rem;
  border: 2px solid;
  border-radius: 4px;
  background-color: #fff;
  transition-property: background-color, outline;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;

  &:hover, &:focus {
    background-color: #f6f6f7;
  }

  &:focus {
    outline: 3px solid;
    border-color: transparent;
  }

  &, &:active:focus, &:focus:not(:focus-visible) {
    outline: 0;
    border-color: #c4c8cb;
  }   
}

